<!-- Product Image -->{% spaceless %}<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<svg xmlns="http://www.w3.org/2000/svg" width="100%" version="1.0" viewBox="-300 -300 600 600" xml:space="preserve">
<circle stroke="#AAA" stroke-width="10" r="280" fill="#FFF"/>
<text style="letter-spacing:1;text-anchor:middle;text-align:center;fill:#E8688B;font-size:360px;font-family:Oswald,Liberation Sans, Arial, sans-serif;line-height:125%;writing-mode:lr-tb;" transform="scale(.2)">
<tspan y="-40" x="8">NO IMAGE</tspan>
<tspan y="400" x="8">AVAILABLE</tspan>
</text>
</svg>{% endspaceless %}

<!-- End Product Image -->