<footer>
	<div class="row">
		<div class="small-12 medium-7 columns">
			<div class="copyright">
				&copy; {{now|date('Y')}} {{siteName}}. This site is Powered by <a href="http://www.bluefoot.com" target="_blank">Bluefoot</a> and Developed by <a href="http://www.alonovus.com" target="_blank">The Vanderhaven Group</a>.
			</div>
		</div>
		<div class="small-12 medium-5 columns">
			<ul class="footer-nav">
				<li><a href="#">Home</a></li>
				<li><a href="#">The Team</a></li>
				<li><a href="#">Page</a></li>
				<li><a href="#">Contact</a></li>
				<li><a href="#">Blog</a></li>
			</ul>
		</div>
	</div>
</footer>